.container {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 12px;
}

.columnLeft {
  border: 1px solid #999;
  display: flex;
  margin: 0.25rem;
  width: 100%;
}

.columnRight {
  border: 1px solid #999;
  display: flex;
  flex-direction: column;
  margin: 0.25rem;
  width: 100%;
}

@media (min-width: 768px) {
  .columnLeft {
    width: 35%;
  }

  .columnRight {
    width: 55%;
  }
}
